.ghe {
  /* ghế thường */
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(123, 122, 122);
  color: #fff;
}
.gheDaDat {
  background-color: rgb(232, 76, 76);
  cursor: no-drop;
}
.gheDangDat {
  background-color: rgb(18, 176, 18) !important;
}
.gheVip {
  background-color: rgb(228, 74, 8);
}
.gheDaDuocDat {
  /* Ghế do chính user đặt */
  background-color: rgb(246, 246, 246);
  -webkit-box-shadow: -1px 2px 18px -6px orange; 
  box-shadow: -1px 2px 18px -6px orange;
  color: orange;
  border: 1px solid orange;
}
.ant-tabs-tab-btn {
  color: #fff;
}
