#container_registerPage {
  background-image: url(https://demo1.cybersoft.edu.vn/static/media/backapp.b46ef3a1.jpg);
  background-position: center;
  background-size: cover;
}
#register_content {
  width: 900px;
  height: 700px;
  margin: 150px 0;
}
#register_left {
  width: 100%;
  height: 100%;
  background: #fff;
}
#register_right {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 50px;
}
#register_content label {
  font-size: 15px;
  font-weight: 600;
}
#register_content input {
  height: 40px;
}

#register_content button {
  height: 36px;
  border-radius: 6px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fb4226;
  transition: all 0;
}
#register_content button:hover {
  background-color: #fb4226;
  color: #fff;
}
#link_login {
  transition: 0;
}
#link_login:hover {
  color: #253e8a;
  text-decoration: underline;
}
.ant-form-vertical .ant-form-item-label {
  padding-bottom: 0 !important;
}
