.header .link {
  color: white;
  transition: all 0.3s;
}
.header .link:hover {
  color: #f9b35a;
}

#btn_login {
  transition: all 0;
}
#btn_login:hover {
  color: #fff;
  background-color: #f9b35f;
}

#btn_logout {
  transition: all 0;
}
#btn_logout:hover {
  color: #fff;
  background-color: #f9b35f;
}
#nav_user_info {
  background-color: #ee7f38;
}
