#loginPage {
  background-image: url(https://demo1.cybersoft.edu.vn/static/media/backapp.b46ef3a1.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
#container_login {
  width: 900px;
  height: 450px;
}
#login_left {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#login_right {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.container_form label {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 3px;
}
.container_form input {
  height: 40px;
}
.container_form button {
  width: 100%;
  height: 36px;
  border-radius: 6px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fb4226;
  transition: all 0;
}
.container_form button:hover {
  background-color: #fb4226;
  color: #fff;
}

#link_register {
  transition: 0;
}
#link_register:hover {
  color: #253e8a;
  text-decoration: underline;
}

.login_tk {
  padding: 24px 11px;
}
